upstream unicorn {
  server unix:/tmp/unicorn.<%= fetch(:application) %>.sock fail_timeout=0;
}

# HTTPS server
    
server {
  listen  80;
  # server_name  localhost app.<%= fetch(:application) %>.co.ke;
  <%= '#' if fetch(:ssl_only)!='y' %> rewrite  ^ https://$server_name$request_uri? permanent; ## redirect http to https
  root <%= current_path %>/public;
  
  location ^~ /assets/ {
    gzip_static on;
    expires max;
    add_header Cache-Control public;
  }

  try_files $uri/index.html $uri @unicorn;
  location @unicorn {
    proxy_set_header Host $host;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header X-Forwarded-Proto http;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_redirect off;
    proxy_pass http://unicorn;

  }

  error_page 500 502 503 504 /500.html;


}


server {
  listen 443 default_server ssl;
  server_name  localhost app.<%= fetch(:application) %>.co.ke;
  root <%= current_path %>/public;

  location ^~ /assets/ {
    gzip_static on;
    expires max;
    add_header Cache-Control public;
  }

  ssl                  on;
  ssl_certificate      /etc/nginx/certificates/<%= fetch(:nginx_certificate_name) %>.crt;
  ssl_certificate_key  /etc/nginx/certificates/<%= fetch(:nginx_certificate_name) %>.key;    
  ssl_session_timeout  5m;
    
  ssl_protocols  SSLv2 SSLv3 TLSv1;
  ssl_ciphers  HIGH:!aNULL:!MD5;
  ssl_prefer_server_ciphers   on;

  try_files $uri/index.html $uri @unicorn;
  location @unicorn {
    proxy_set_header Host $host;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header X-Forwarded-Proto https;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_redirect off;
    proxy_pass http://unicorn;

  }

  error_page 500 502 503 504 /500.html;
  # client_max_body_size 4G; #already in main file
  # keepalive_timeout 10; #already in main file
}

